extends ../base

block content
    form(method="POST")
        h2(style=`margin-bottom:15px;`) Edit Video 
        input(name="title", required, placeholder="Video Title", value=video.title, maxlength=80)
        input(name="description" required, placeholder="Description", value=video.description, type="text")
        input(name="hashtags" required, placeholder="Hashtags, separated by comma.", value=video.hashtags.join(), type="text")
        input(value="Save", type="submit")