extends ../base

block content 
    div
        video#preview
        button#actionBtn Start Recording
    if errorMessage
        span=errorMessage
    form(method="POST", enctype="multipart/form-data").file-upload__form
        label(for="video") Video File
        input(name="video", required, type="file", accept="video/*", id="video")
        input(name="title" required, placeholder="Title", type="text", maxlength=80)
        input(name="description" required, placeholder="Description", type="text", minlegth=10)
        input(name="hashtags" required, placeholder="Hashtags, separated by comma.", type="text")
        input(type="submit", value="Upload Video")

block scripts 
    script(src="/static/js/recorder.js")
