extends ../base

block content 
    form(method="POST")
        input(name="oldPassword", placeholder="Old Password", type="password")
        input(name="newPassword", placeholder="New Password", type="password")
        input(name="newPassword1", placeholder="New Password Confirmation", type="password")
        input(type="submit", value="Change Password")