extends ../base

block content 
    form(method="POST")
        input(name="", placeholder="Old Password")
        input(name="", placeholder="New Password")
        input(name="", placeholder="New Password Confirmation")
        input(type="submit", value="Change Password")